---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
			rel="stylesheet"
		/>
		<title>Astro</title>
	</head>
	<body class="bg-slate-300">
		<div class="flex">
			<div class="bg-[#fefaf6] h-[950px] shadow-md flex">
				<div class=" px-36 flex flex-col py-60 ">
					<p class="text-[#102c57] mb-20 text-center text-2xl font-bold border-b-2   ">
						Inicio de sesión
					</p>
					<a href="" class=" bg-[#f0ebe3] hover:bg-[#f6f5f2] transition-colors m-2 text-[#102c57]  font-bold p-4 rounded-xl  border-[#102c57] border-[1px] shadow-md text-center"
						>Role 1</a
					>
					<a href="" class=" bg-[#f0ebe3] hover:bg-[#f6f5f2] transition-colors m-2 text-[#102c57]  font-bold p-4 rounded-xl  border-[#102c57] border-[1px] shadow-md text-center"
						>Role 2</a
					>
					<a href="" class=" bg-[#f0ebe3] hover:bg-[#f6f5f2] transition-colors  m-2 text-[#102c57]  font-bold p-4 rounded-xl  border-[#102c57] border-[1px] shadow-md text-center"
						>Role 3</a
					>
				</div>
			</div>
			<div class="">
				<img src="https://img.freepik.com/vector-gratis/personas-sanas-llevando-diferentes-iconos_53876-66139.jpg?size=626&ext=jpg&ga=GA1.1.672697106.1713139200&semt=ais" alt="">
			</div>
		</div>
	</body>
</html>
